* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.intro {
  color: floralwhite;
}
.intro-img {
  max-width: 400px;
  padding-right: 50px;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.intro-text {
  padding: 64px 48px;
  margin-right: 10%;
}
.ref-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding: 16px 48px;
  padding-bottom: 80px;
}
.my-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 64px 48px;
  border-bottom: 1px solid #1e1e1e;
}
.info-title {
  color: rgb(86, 86, 86);
  font-family: Inter, sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 12px;
  padding-bottom: 9px;
}
.info-description {
  color: rgba(255, 250, 240, 0.852);
  font-family: "Inter", sans-serif;
}
.border {
  height: 100px;
  width: 1px;
  background: #1e1e1e;
  margin: 0 15px;
}
.now-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 64px 48px;
}
.now-card {
  color: floralwhite;
}
button {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    system-ui,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}
button:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all 0.42s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 0;
}

button:hover:before {
  background-color: #fff;
  width: 3rem;
}
